#container {
  display: block;
}
header {
  border: 2px solid black;
  padding-bottom: 5px;
  width: 100%;

}
footer {
  left: 0;
  bottom: 0;
  width: 75%;
  position: fixed;

}
.sidebar {
  border: 2px solid black;
  height: 100%;
  padding:100px;
  position: absolute;
  margin-right: : 1px;
  display: block;
  float: left;

}
.c {
  border: 2px solid black;
  float: right;
  width: 50%;
}
.d {
  border: 2px solid black;
  float: right;
  width: 50%;
  display: flex;
}
.pair {
  display: flex;
  flex-direction: row;
  margin-left: 20%;
}
.e {
  border: 2px solid black;
  float: right;
  width: 25%;
}
.f {
  border: 2px solid black;
  float: right;
  width: 25%;
}
.g {
  border: 2px solid black;
  float: right;
  width: 25%;
}
.h {
  border: 2px solid black;
  float: right;
  width: 25%;
}
.quad {
  display: flex;
  flex-direction: row;
}
.i {
  border: 2px solid black;
  margin-left: 20%;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  header {

  }
}
